__pycache__/
*.pyc
*.pyo
*.pyd

build/

sender_gui_config.json
receiver_gui_config.json
*_gui_config.json

ether-stream-release.zip
ether-stream-single-file-release.zip
Ether-Stream-文件夹版.zip
Ether-Stream-单文件版.zip
